<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset= "UTF-8">
  <title>{{title}}</title>
</head>

<body>

<h4 id ="title" style = "font-size: 2em;  margin-left: 20px;" value = {{title}}>{{title}}</h4>
<input type='button' value={{status}} id='sub' style = "font-size: 2em;  margin-left: 50px;" onclick='subscribe()'/>
<div id = container style= "margin: 10px;">

<div id = 'episode_wrapper'></div>
</div>

<script type="text/javascript" src="static/jquery-3.4.0.js"></script>
<script>

   loadEpisodes()

   function getVars(vars) {
     // console.log(vars);
     return vars;
   }

   function loadEpisodes() {
     // console.log({{user}});
     var data = getVars({{data|tojson}})
     data = JSON.parse(data);
     var content = '<ul>'
     for (var num in data) {
       content = content + "<li><span>Episode "+num+"</span><br>";
       links = data[num]
       for (i=0; i<links.length; i++) {
         content = content + "<a href='"+ links[i] +"'>"+links[i]+"</a><br>"
       }
       content = content + "</li>";
     }
     content = content + '</ul>';
     document.getElementById("episode_wrapper").innerHTML = content;
   }

   function subscribe() {
     var title = {{title|tojson}};
     var status = $("#sub").val();
     var user = {{user|tojson}};
     $.ajax({
       type : "POST",
       async:false,
       dataType:'json',
       data : {
         Status : status,
         User : user,
         Title : title },
       url : "/subscribe",
       success : function(data) {
         s = data.status;
         if(s==1) {
           if(status == "subscribe") {
             alert("Successfully subscribed.");
             $("#sub").val("unsubscribe");
           }else {
             alert("Successfully unsubscribed.");
             $("#sub").val("subscribe");
           }
         } else{
           alert("Database Error.")
         }
       }
     });
   }

</script>

</body>
</html>
